In [45]:
import pandas as pd    # I got this block of code from colleagues and online tools....through hours of trial and error 

df = pd.read_csv("DW3_set_2.csv")

df["Dxcode"] = df["Dxcode"].astype(str).str.strip().str.upper()
df["Dxdate"] = pd.to_datetime(df["Dxdate"], errors="coerce")

diabetes_codes = ("E08", "E09", "E10", "E11", "E13")
covid_codes = {"U07.1", "J12.82"}

diab_dx = df[df["Dxcode"].str.startswith(diabetes_prefixes)].copy()    # Diabetes -- df defined 
covid_dx = df[df["Dxcode"].isin(covid_codes)].copy()                 # COVID

DIAB_PATIENTS  = set(diab_dx["PatientID"].dropna())        # Patient data 
COVID_PATIENTS = set(covid_dx["PatientID"].dropna())

both = COVID_PATIENTS & DIAB_PATIENTS
covid_only = COVID_PATIENTS - DIAB_PATIENTS    # setting paramenters 
diab_only  = DIAB_PATIENTS - COVID_PATIENTS
either = COVID_PATIENTS | DIAB_PATIENTS

print("COVID patients:", len(COVID_PATIENTS))
print("Diabetes patients:", len(DIAB_PATIENTS))
print("COVID ∩ Diabetes:", len(both))
print("COVID only:", len(covid_only))
print("Diabetes only:", len(diab_only))
print("COVID ∪ Diabetes:", len(either))

first_covid = covid_dx.groupby("PatientID")["Dxdate"].min()    # diabetes AFTER covid 
first_diab  = diab_dx.groupby("PatientID")["Dxdate"].min()

aligned = pd.DataFrame({
    "covid_date": first_covid,
    "diab_date": first_diab
}).dropna()

new_diab_after_covid = aligned[aligned["diab_date"] > aligned["covid_date"]]

print("New diabetes AFTER COVID:", len(new_diab_after_covid))

COVID patients: 1997
Diabetes patients: 6735
COVID ∩ Diabetes: 224
COVID only: 1773
Diabetes only: 6511
COVID ∪ Diabetes: 8508
New diabetes AFTER COVID: 94

In [46]:
df.head(10)

   RowID  PatientID Dxcode     Dxdate
0      0    4725559  E03.9 2020-09-20
1      1    7637008  R53.1 2019-10-27
2      2    5068050  I48.1 2020-11-22
3      3    1342235  E11.9 2022-01-27
4      4    4520230  N39.0 2020-05-17
5      5     972635  E03.9 2022-01-05
6      6    1403893   N/A* 2020-12-14
7      7    5238223  F32.9 2019-10-23
8      8    3690912  M54.5 2021-09-18
9      9    1625668  M54.5 2022-02-09

In [48]:
df.shape

(40606, 4)

In [49]:
df.head()
df.info()
covid_dx.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40606 entries, 0 to 40605
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   RowID      40606 non-null  int64
 1   PatientID  40606 non-null  int64
 2   Dxcode     40606 non-null  object
 3   Dxdate     40606 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 1.2+ MB

    RowID  PatientID  Dxcode     Dxdate
31     31    5692899  J12.82 2021-11-04
44     44     665176  J12.82 2022-03-11
52     52    3651321   U07.1 2019-10-21
76     76    1282153  J12.82 2022-01-25
91     91    5112391  J12.82 2020-06-04

In [50]:
df.head()
df.info()
diab_dx.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40606 entries, 0 to 40605
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   RowID      40606 non-null  int64
 1   PatientID  40606 non-null  int64
 2   Dxcode     40606 non-null  object
 3   Dxdate     40606 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 1.2+ MB

    RowID  PatientID Dxcode     Dxdate
3       3    1342235  E11.9 2022-01-27
13     13    1841379    E10 2021-07-16
15     15    6120921    E09 2020-03-06
19     19    3465224    E09 2021-12-06
29     29    1358532    E10 2019-10-09

In [51]:
# Question: #1a) List of patients with diabetes 

diabetes_patients = diab_dx["PatientID"].dropna().unique()

diabetes_patients     # this output is showing a NumPy array of PatientIDs

array([1342235, 1841379, 6120921, ..., 7160137, 6607308, 1340228],
      shape=(6735,))

In [52]:
# Q: 1a    total of 6,735 individual patients

In [53]:
pd.DataFrame(diabetes_patients, columns=["PatientID"]).head()

   PatientID
0    1342235
1    1841379
2    6120921
3    3465224
4    1358532

In [54]:
# Q: 1b    This is a count of how many patients have at least one diabetes code

num_diabetes_patients = len(diabetes_patients)     

num_diabetes_patients

6735

In [55]:
# Q: 1c   Are there patients with more than one diabetes record?

diabetes_counts = (
    diab_dx
    .groupby("PatientID")
    .size()
    .reset_index(name="diabetes_dx_count")
)

patients_multiple_diab = diabetes_counts[diabetes_counts["diabetes_dx_count"] > 1]

patients_multiple_diab.head()

    PatientID  diabetes_dx_count
3      104363                  2
9      117296                  2
31     145957                  2
52     178480                  2
54     179518                  2

In [57]:
# 1c  count how many patients exactly 

len(patients_multiple_diab)

489

In [58]:
# 2a  Here is a list of patients with at least one COVID diagnosis. 

covid_patients = covid_dx["PatientID"].dropna().unique()

covid_patients

# Patients with COVID were id by filtering the diagnosis data using ICD-10 codes ( U07.1 and J12.82 ). Patient IDs were extracted to 
# form the COVID patient data set

array([5692899,  665176, 3651321, ..., 5331556, 5080120, 2398290],
      shape=(1997,))

In [59]:
pd.DataFrame(covid_patients, columns=["PatientID"]).head()

   PatientID
0    5692899
1     665176
2    3651321
3    1282153
4    5112391

In [60]:
# 2b Here is the count of patients with COVID
num_covid_patients = len(covid_patients)

num_covid_patients

1997

In [61]:
# 2c Patients with more than one COVID diagnosis record

covid_counts = (
    covid_dx
    .groupby("PatientID")
    .size()
    .reset_index(name="covid_dx_count")
)

patients_multiple_covid = covid_counts[covid_counts["covid_dx_count"] > 1]

patients_multiple_covid.head()

     PatientID  covid_dx_count
41      242212               2
59      287739               2
76      344867               2
205     856514               2
249    1060121               2

In [62]:
len(patients_multiple_covid)   # the exact number of patients with more than 1 COVID diagnosis

29

In [63]:
# Question 3: Patients with Diabetes OR Covid -- Union method 

diabetes_patients = set(diab_dx["PatientID"].dropna())
covid_patients    = set(covid_dx["PatientID"].dropna())

diabetes_or_covid = diabetes_patients | covid_patients

diabetes_or_covid

{6012934,
 1736711,
 7012360,
 1376265,
 7290887,
 4079623,
 3981318,
 4390925,
 1900560,
 4456467,
 6127641,
 5390361,
 1769501,
 3817505,
 5685284,
 7340071,
 4751400,
 5521449,
 6750250,
 2277420,
 147506,
 2048051,
 5046324,
 7700533,
 6701106,
 3113015,
 1982519,
 2932790,
 3866682,
 3637307,
 7618620,
 5914682,
 3768382,
 5161024,
 2359362,
 6127682,
 540740,
 5390405,
 2179145,
 6471754,
 5390410,
 6062156,
 7192653,
 4063310,
 2883663,
 4849744,
 2031697,
 4653138,
 4030547,
 6946898,
 7520334,
 1097807,
 4767823,
 7225430,
 6471767,
 4210777,
 1425497,
 4341852,
 7225429,
 458846,
 7307359,
 6815836,
 2818145,
 4587614,
 5554274,
 540772,
 2998371,
 901222,
 7684202,
 6635635,
 1654900,
 7536757,
 5079162,
 1310845,
 1245312,
 6373505,
 1851521,
 7667843,
 7520387,
 6226053,
 5341314,
 5734535,
 7667848,
 1654922,
 1622157,
 3539086,
 3358868,
 3063958,
 1228953,
 4505754,
 6619292,
 4341920,
 1458336,
 7700642,
 4538532,
 6242476,
 5980333,
 3260588,
 6013104,
 2670769,
 6422708,
 6275253,
 4997303,
 5587127,
 7012535,
 3342522,
 6734010,
 196796,
 1212606,
 6881479,
 5374151,
 5456071,
 1130695,
 3686601,
 3162314,
 4128970,
 147663,
 7635154,
 2736338,
 6750421,
 5374166,
 5669085,
 5603550,
 1982688,
 7373028,
 7471333,
 2572517,
 6619368,
 1179884,
 4489455,
 4915448,
 917754,
 622844,
 7700733,
 2523388,
 213247,
 4555009,
 2982146,
 311557,
 672008,
 4145418,
 5177611,
 737549,
 786702,
 4210961,
 2343186,
 753943,
 4243736,
 278815,
 3997984,
 4342049,
 1425696,
 4718883,
 3686691,
 2081058,
 2605350,
 2507046,
 2408746,
 3866923,
 557358,
 1311022,
 6504751,
 1065270,
 2769207,
 1376568,
 868667,
 5292350,
 5865791,
 1769794,
 6750531,
 2130243,
 6226247,
 7160137,
 7635276,
 5112143,
 5800272,
 164175,
 2212178,
 1098070,
 7717211,
 7061853,
 4833629,
 5275999,
 3359077,
 2785639,
 6652264,
 7356776,
 5226856,
 3228009,
 3473771,
 491890,
 590196,
 3817845,
 3768694,
 5063031,
 3703160,
 2539895,
 6619510,
 131453,
 4456835,
 4096389,
 6209926,
 3948937,
 7291273,
 2294156,
 5472652,
 5882252,
 147853,
 4473228,
 2703759,
 2769295,
 7569805,
 7602581,
 7438743,
 3670423,
 3309977,
 3178905,
 524697,
 6308252,
 5046685,
 541087,
 246175,
 983461,
 4538790,
 1540520,
 278957,
 3621298,
 4522419,
 2458036,
 3359156,
 5931449,
 737723,
 3670460,
 4145597,
 672191,
 7717312,
 7471553,
 2179521,
 6799812,
 7127496,
 754121,
 6980043,
 2130382,
 1458640,
 6177237,
 4178392,
 3703257,
 704985,
 7422425,
 901600,
 2032098,
 7356900,
 1049061,
 6701541,
 4145637,
 7045609,
 4227562,
 6013417,
 7111148,
 6799850,
 5915115,
 4096497,
 3736052,
 3228151,
 1442300,
 6406653,
 4162046,
 6128127,
 5964288,
 1917438,
 4080127,
 6898176,
 868865,
 6603267,
 3408390,
 1212935,
 852488,
 4915721,
 7356938,
 7635459,
 3473925,
 6128143,
 4080144,
 3146257,
 7242258,
 1557010,
 7586324,
 279058,
 5030430,
 4014622,
 1671713,
 3506722,
 3244582,
 410150,
 2884136,
 885289,
 6881832,
 2933290,
 6373932,
 3473965,
 5423662,
 590384,
 1376817,
 4227633,
 5177904,
 7422517,
 5194294,
 4342331,
 5882428,
 4063805,
 459327,
 1655359,
 2802243,
 5112391,
 4588104,
 2802247,
 3555917,
 4899406,
 6029907,
 5259861,
 2867797,
 524885,
 2736728,
 1442394,
 6406746,
 4424291,
 492134,
 2982503,
 3834471,
 5259881,
 5112426,
 1032811,
 885356,
 2228844,
 4145772,
 1491565,
 5096042,
 6554225,
 3490417,
 6898291,
 442996,
 1589877,
 1245814,
 541306,
 5931645,
 3621502,
 6144638,
 2622078,
 6668929,
 2179713,
 3310211,
 6718087,
 1376904,
 3932810,
 5112460,
 4571788,
 639629,
 2065040,
 1114770,
 1000086,
 4342423,
 311960,
 1278615,
 4522650,
 688798,
 5882529,
 4735653,
 1147558,
 3277481,
 1688234,
 3015339,
 2589355,
 6996653,
 5915309,
 3785389,
 5915314,
 7193266,
 1901236,
 7586487,
 6668983,
 6668985,
 344762,
 7209659,
 2441915,
 688829,
 2097852,
 3343040,
 7013061,
 6734533,
 6505158,
 5522119,
 5374665,
 7537354,
 2425550,
 1376976,
 1393360,
 1868498,
 4047571,
 3392213,
 6390486,
 1901270,
 5587674,
 1295067,
 4621020,
 6996701,
 1508064,
 705249,
 5325539,
 6570723,
 5325541,
 5931753,
 5276394,
 5096169,
 4932331,
 3326700,
 6357742,
 5473005,
 639729,
 1180403,
 4522740,
 6832886,
 7013110,
 6062839,
 5702394,
 3883771,
 5325564,
 5784317,
 1852159,
 2228995,
 6521605,
 5112582,
 2327302,
 2622217,
 1114889,
 131850,
 6996745,
 4342540,
 557838,
 279308,
 6669071,
 2425613,
 6243090,
 5014291,
 7226125,
 2982677,
 4637462,
 7537425,
 983832,
 6816536,
 2245402,
 4915996,
 5227296,
 3588898,
 6554403,
 5964580,
 7095075,
 1901350,
 344867,
 394024,
 2523945,
 2573096,
 3818287,
 4014895,
 5423921,
 4227899,
 6767420,
 5899070,
 7406399,
 6996800,
 6472513,
 148286,
 1442627,
 4916037,
 7193414,
 4408136,
 3146569,
 5423945,
 5948235,
 5915467,
 918346,
 1655629,
 1049423,
 6734672,
 3179342,
 2048851,
 5686106,
 5096282,
 410459,
 6832989,
 6013790,
 2769761,
 6013794,
 1688418,
 6816614,
 4359018,
 6308714,
 5407596,
 6210412,
 4506477,
 6177647,
 1196912,
 6964082,
 6095732,
 1950582,
 574327,
 7373688,
 3703673,
 410487,
 3244928,
 2933634,
 6800262,
 5342086,
 6620040,
 6980491,
 3146639,
 2425744,
 4244370,
 3965844,
 2311060,
 7734168,
 1835928,
 3474330,
 5964696,
 2818969,
 7275425,
 4342690,
 2802599,
 6767528,
 3326887,
 3933098,
 426925,
 7029677,
 6390703,
 6144945,
 3572657,
 1377203,
 6914996,
 4391861,
 2409395,
 2884533,
 7586744,
 6243261,
 7652285,
 2671551,
 7521217,
 4572098,
 4588483,
 902083,
 1213381,
 2212801,
 2671557,
 5096390,
 3376078,
 3048400,
 6341585,
 2687957,
 3523542,
 2032599,
 5096408,
 4670425,
 6931416,
 771035,
 2851804,
 4211673,
 4309981,
 4572130,
 3343333,
 7013358,
 427000,
 7619577,
 1639418,
 3032057,
 3834876,
 2425853,
 2933758,
 4342783,
 984065,
 246786,
 7341061,
 5866505,
 3277835,
 1967117,
 2589712,
 4113424,
 7177236,
 3474453,
 2016277,
 4277270,
 2720794,
 3114011,
 2868250,
 7521308,
 803868,
 4359194,
 1852448,
 3376167,
 2425897,
 3146793,
 7570477,
 2688045,
 5555245,
 574510,
 7193649,
 4932659,
 6751284,
 5080120,
 4506681,
 4817979,
 5080123,
 525373,
 5948477,
 2917439,
 5719103,
 5047364,
 6014024,
 4949065,
 5325900,
 7373904,
 4326480,
 246872,
 2196573,
 2770014,
 3654749,
 1754208,
 1557601,
 6767718,
 2311270,
 6243433,
 3376235,
 4703339,
 4670573,
 3654766,
 1918063,
 3523696,
 1885297,
 7292013,
 5178483,
 6079604,
 6489201,
 672889,
 394362,
 4408445,
 787582,
 4686978,
 410755,
 1606788,
 5407879,
 5407881,
 5670027,
 1590411,
 5719182,
 3327118,
 2655375,
 7668881,
 6243474,
 3441811,
 1705108,
 6210709,
 4555921,
 3966103,
 3392665,
 6947996,
 7373981,
 3966109,
 3916956,
 181412,
 5784740,
 6948006,
 2278568,
 5276841,
 1524905,
 3916968,
 197807,
 1819824,
 525489,
 6489266,
 853169,
 1000624,
 2901168,
 4572340,
 1655989,
 279734,
 4080827,
 2917564,
 4555965,
 6243520,
 3671233,
 1295553,
 754883,
 804032,
 3753160,
 1344713,
 7062733,
 7636174,
 5997773,
 165072,
 1393873,
 6554835,
 3015891,
 345301,
 1344726,
 3736791,
 3261653,
 2442459,
 1541341,
 1082590,
 836829,
 7357662,
 5145826,
 1541346,
 5997801,
 6079723,
 1148144,
 558321,
 1115377,
 2901233,
 410865,
 5833974,
 1541367,
 6178044,
 4588797,
 4408572,
 1295612,
 1672451,
 5637379,
 2983174,
 2295046,
 115977,
 2704650,
 7750924,
 1377552,
 673040,
 7308565,
 2491677,
 2491681,
 1787174,
 2229544,
 3966249,
 5408047,
 5539122,
 2049330,
 5014839,
 7685433,
 6620479,
 3474751,
 7406913,
 4293955,
 1819975,
 3261770,
 1017165,
 2426192,
 247127,
 4900188,
 7308637,
 6849887,
 3753311,
 4310367,
 607585,
 6636896,
 3622244,
 2803045,
 4261220,
 6833511,
 3523944,
 230758,
 6849899,
 5752175,
 3655024,
 7570805,
 4490615,
 5752187,
 2622845,
 1066366,
 4441473,
 4703620,
 5064074,
 6145419,
 820620,
 3016077,
 4490638,
 7603607,
 6948247,
 6751644,
 6473118,
 6489505,
 3048868,
 5490084,
 2540965,
 3786151,
 6620583,
 2360745,
 5359017,
 4408743,
 7505325,
 7275950,
 656816,
 2033073,
 3982769,
 2033076,
 6817206,
 5244343,
 4097464,
 1410489,
 2278841,
 7620025,
 4998589,
 1869246,
 5260734,
 6686147,
 4539847,
 2655691,
 3311055,
 6505938,
 132566,
 2164184,
 4720090,
 5752283,
 2541020,
 4834778,
 3818974,
 4556256,
 591333,
 6751722,
 5588458,
 5506539,
 6063598,
 4605426,
 3589620,
 7161334,
 5309946,
 3393018,
 6079994,
 4228607,
 378368,
 7505409,
 1197572,
 7587333,
 6473222,
 3442183,
 5293575,
 2246156,
 5965325,
 3933711,
 722450,
 3933717,
 7112213,
 2688535,
 4359706,
 4376101,
 2737704,
 4048428,
 4572716,
 3556911,
 1164848,
 5326383,
 2810629,
 3049007,
 493109,
 6276664,
 6653502,
 4064831,
 3491393,
 5146182,
 4654668,
 1066572,
 460366,
 6882894,
 3442257,
 558674,
 1492561,
 722516,
 1033809,
 247377,
 6145624,
 4884058,
 3212894,
 5506654,
 1246816,
 1525343,
 984674,
 1066595,
 5572196,
 5031529,
 7734890,
 5719659,
 7521900,
 5031532,
 5981804,
 3130989,
 4114027,
 6473326,
 1902199,
 1246846,
 3835519,
 1083012,
 3180167,
 4425351,
 1869449,
 1017488,
 4245138,
 804499,
 6178460,
 2557598,
 3393182,
 2049699,
 2508455,
 5211818,
 1558186,
 984748,
 2049707,
 6588078,
 2410157,
 6489776,
 4146867,
 6194868,
 689845,
 5375668,
 4572855,
 3180223,
 3851969,
 6522566,
 6211274,
 2803411,
 771799,
 2000600,
 7669468,
 2475749,
 5883622,
 5818091,
 2492140,
 2098924,
 7259883,
 4310765,
 5162736,
 1951471,
 4523766,
 4703990,
 7685879,
 1967863,
 4327162,
 7259898,
 6883068,
 1984251,
 7325431,
 1246975,
 3098364,
 6653703,
 6260491,
 1443596,
 2819853,
 3671820,
 6473486,
 4589328,
 3753744,
 4507410,
 2033434,
 3786522,
 2950938,
 6620959,
 526112,
 1689379,
 2508580,
 3622692,
 3557156,
 1099559,
 4245287,
 4376361,
 2819882,
 2213675,
 6981420,
 4458286,
 5293871,
 2426672,
 3917616,
 3131186,
 5490483,
 247604,
 1279802,
 100159,
 7505728,
 6244161,
 3917638,
 4556617,
 1197897,
 264011,
 5687114,
 3065676,
 3622734,
 5900109,
 7014223,
 526161,
 4212562,
 5195605,
 5506903,
 3688280,
 3884890,
 6588253,
 5932894,
 3524450,
 6915939,
 ...}

In [65]:
#3 conti.  How many patients are a part of the union 

len(diabetes_or_covid)

8508

In [68]:
# 3 Summary 
# A union operation was used to find all patients who had at least one diagnosis of diabetes or COVID.

In [69]:
# Question: 4 Patients with Diabetes AND Covid --Intersection method. 

diabetes_patients = set(diab_dx["PatientID"].dropna())
covid_patients    = set(covid_dx["PatientID"].dropna())

diabetes_and_covid = diabetes_patients & covid_patients

diabetes_and_covid

{138575,
 175474,
 222248,
 227866,
 266223,
 269196,
 270723,
 311557,
 458846,
 482256,
 597141,
 606183,
 608265,
 620359,
 620623,
 626112,
 628441,
 663704,
 665855,
 700390,
 734644,
 765097,
 788972,
 818167,
 846756,
 848666,
 851267,
 942974,
 956890,
 992024,
 1032811,
 1053804,
 1066366,
 1080874,
 1099944,
 1113301,
 1165591,
 1201084,
 1220613,
 1346682,
 1376904,
 1408551,
 1415399,
 1428367,
 1434515,
 1441531,
 1448346,
 1464780,
 1500368,
 1596246,
 1603639,
 1610879,
 1700963,
 1759825,
 1781822,
 1789370,
 1811725,
 1856152,
 1931212,
 1980087,
 1998501,
 2028809,
 2217126,
 2221314,
 2290734,
 2299370,
 2299669,
 2301586,
 2316131,
 2320798,
 2348772,
 2349833,
 2356742,
 2369658,
 2403848,
 2417040,
 2465811,
 2481330,
 2483513,
 2600479,
 2629565,
 2646629,
 2683802,
 2694265,
 2708536,
 2719049,
 2764472,
 2766025,
 2769295,
 2805177,
 2827584,
 2831596,
 2892229,
 2986113,
 3058621,
 3078792,
 3091854,
 3122196,
 3131294,
 3159239,
 3178905,
 3256234,
 3262537,
 3372511,
 3385968,
 3428304,
 3456061,
 3459970,
 3464904,
 3588898,
 3591475,
 3618253,
 3622244,
 3636206,
 3651321,
 3736791,
 3745418,
 3812286,
 3812900,
 3834471,
 3853960,
 3929198,
 3963360,
 4007167,
 4021777,
 4030547,
 4032868,
 4045442,
 4056916,
 4159922,
 4281623,
 4282462,
 4322839,
 4330450,
 4387401,
 4406239,
 4444155,
 4464616,
 4556617,
 4588797,
 4595704,
 4678019,
 4782266,
 4795202,
 4803005,
 4852233,
 4859240,
 4908235,
 4927942,
 5019777,
 5055782,
 5063031,
 5112426,
 5159103,
 5188223,
 5214502,
 5262381,
 5276394,
 5288404,
 5316149,
 5367670,
 5371074,
 5426261,
 5521274,
 5528107,
 5552384,
 5588458,
 5595625,
 5609214,
 5615770,
 5631531,
 5637379,
 5654640,
 5744768,
 5763344,
 5855408,
 5878004,
 5920964,
 5931449,
 5977643,
 6028000,
 6029907,
 6090915,
 6110857,
 6142172,
 6226247,
 6248535,
 6289516,
 6358979,
 6379191,
 6399983,
 6435883,
 6450265,
 6471767,
 6491248,
 6498266,
 6523303,
 6556507,
 6615827,
 6617399,
 6624117,
 6705414,
 6738775,
 6751722,
 6999891,
 7069651,
 7181285,
 7193414,
 7229302,
 7231631,
 7260892,
 7307359,
 7373904,
 7405117,
 7442382,
 7516982,
 7518719,
 7542154,
 7588327,
 7588462,
 7609020,
 7631360,
 7635276,
 7695977}

In [71]:
# Lets count how many total 
len(diabetes_and_covid)

224

In [72]:
# 4 summary 
# This was defined using an intersection of the diabetes and Covid patient sets.

In [76]:
# Question #5
first_covid = covid_dx.groupby("PatientID")["Dxdate"].min()   # first COVID dx per pt

first_diab = diab_dx.groupby("PatientID")["Dxdate"].min()  # first diabeteds dx per pt

aligned = pd.DataFrame({      # align pt's with BOTH 
    "covid_date": first_covid,
    "diab_date": first_diab
}).dropna()

diabetes_after_covid = aligned[aligned["diab_date"] > aligned["covid_date"]]  # diabetes happening AFTER covid dx

diabetes_after_covid

          covid_date  diab_date
PatientID
138575    2021-02-17 2021-08-02
175474    2019-06-22 2020-03-20
222248    2019-09-12 2020-10-06
227866    2019-09-09 2020-10-12
482256    2019-11-19 2022-05-30
...              ...        ...
7588327   2020-12-18 2021-04-24
7588462   2020-01-02 2020-07-19
7609020   2021-03-29 2022-02-13
7631360   2020-06-03 2021-06-05
7635276   2020-04-03 2021-02-17

[94 rows x 2 columns]

In [77]:
# how many total after COVID dx  -- you can see all these stats in cell line #1 with original code and df design

len(diabetes_after_covid)

94